body {
    background-color: #f5f5f5;
    color: #000000;
}

.metric-box {
    background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
    padding: 20px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.2);
}

.metric-title {
    font-size: 16px;
    margin-bottom: 10px;
}

.metric-value {
    font-size: 26px;
}

.section {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    margin-bottom: 25px;
}
